@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", serif;
}

/* Add this in App.css */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
